body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header Styles */
.App-header {
  background-color: rgba(238, 205, 58, 0.349); /* Bleu foncé */
  color: white;
  padding: 10px;
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}



.logo {
  background-color: black;
  border-radius: 100px;
  width: 40px;
}
.search-container {
  width: 40%;
  height: 30px;
  border-radius: 10px;
}

.search-container input {
  width: 100%
}

.create-annonce {
  width: 30%;
  background-color: white;
  border-radius: 20px;
}


.child-header {
  margin-right: 20px;
}

.compte-container {
  margin-right: 0;
  margin-left: auto;
  background-color: black;
  border-radius: 100px;
  width: 60px;
} 

.nav {
  margin-left: 0;
}



/* */

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(238, 205, 58, 0.349); /* Bleu foncé */
  height: 100px;
}

.body-container {
  display: flex;
}

#map-container {
  width: 100%;
}

.post {
  height: 120px;
  background-color: aliceblue;

}
.pair {
  background-color: rgb(181, 221, 255) !important; 
}
.post-container {
  width: 40%;
}